@import 'tailwindcss';

/** Fonts */

@font-face {
  font-family: 'Geist';
  font-size: 100 900;
  src: url( ./assets/Geist.woff2 ) format( 'woff2' );
}

/** Theme */

@theme {
  --font-sans: 'Geist', ui-sans-serif, system-ui, sans-serif;
}
