@import 'tailwindcss';

/** Fonts */

/** Theme */

@theme {
  --color-brutal-yellow: #fbbf24;
  --color-brutal-green: #22c55e;
  --color-brutal-blue: #2563eb;
  --color-brutal-pink: #db2777;
  --color-brutal-orange: #ea580c;
}

/** Base */

@layer base {
  html, body {
    @apply text-black bg-white cursor-none;
  }
}

/** Utilities */

@utility centered {
  @apply absolute top-1/2 left-1/2 -translate-1/2;
}

@utility centered-x {
  @apply absolute left-1/2 -translate-x-1/2;
}

@utility centered-y {
  @apply absolute top-1/2 -translate-y-1/2;
}
